.flip-card {
  transition: 1s;
  transform-style: preserve-3d;
  transform: translateZ(100px);
  /* position: relative; */
}
.flip-card-face {
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(50px);
}

.flip-card-back {
  position: absolute;
  transform: rotateY(180deg) translateZ(50px);
}

.flip-card:hover {
  transform: rotateY(180deg) translateZ(-100px);
}

/* 
.flip-card {
  transform: rotateY(180deg) translateZ(-100px);
} */
