.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.nav-link ~ span {
  display: block;
  position: relative;
  left: 5px;
  width: 0%;
  height: 2px;
  border-radius: 5px;
  background-image: linear-gradient(130deg, #ff7a17, #af002d 41%, #319197 76%);
  transition: 300ms ease;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-link:hover ~ span {
  width: 86%;
}

.cover_Page_1 {
  background-image: url(../img/pexels-simon-berger-1323550.jpg);
  background-attachment: fixed;
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;
}

#cover_Page_1_Title_Container::after {
  content: "";
  bottom: 0;
  display: block;
  position: relative;
  left: 0px;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(130deg, #ff7a17, #af002d 41%, #319197 76%);
  border-radius: 5px;
}

.section {
  /* font-family: "Montserrat", sans-serif; */
  min-height: 100vh;
  background-image: url(../img/hexagon/light_hexagon6.jpg);
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

p {
  text-indent: 20px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
