body {
  background-image: url(../img/background/members.jpg);
  background-size: cover;
  background-position: 10% 25%;
  /* background-repeat: no-repeat; */
}

.member_Image {
}

.member_Image_1 {
  background-image: url(../img/member/ahmo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: 0% 35%;
  width: 200px;
  height: 175px;
  /* background-repeat: no-repeat; */
}

.member_Image_Container {
}

/* .card {
  border-left: 3px solid black;
  transition: 500ms border ease, 500ms transform ease, 2000ms left ease,
    4000ms opacity ease;
  position: relative;
}

.card:hover {
  border-left: 6px solid transparent;
  transform: scale(1.03);
}

.box_1,
.box_2,
.box_3 {
  opacity: 0;
  transition: 500ms border ease, 500ms top ease, 500ms left ease,
    500ms transform ease, 3000ms opacity ease;
} */
