body {
  background-image: url(../img/background/members.jpg);
  background-size: cover;
  background-position: 10% 25%;
  /* background-repeat: no-repeat; */
}

.member_Name {
  font-family: "Montserrat", sans-serif;
}

.member_Title {
  font-family: "Montserrat", sans-serif;
  text-indent: 0px;
}

.member_Image {
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  box-shadow: 0 0 8px -2px silver, 0 0 3px black;
  /* object-fit: cover; */
}

.member_Image_1 {
  background-size: 120%;
  background-image: url("../img/member/ahmo2.jpg");
  background-position: center 41%;
}

@media only screen and (max-width: 400px) {
  .member_Image {
    height: 200px;
  }
}

@media only screen and (max-width: 370px) {
  .member_Image {
    height: 200px;
  }
}
