body {
  background-image: url(../img/background/members.jpg);
  background-size: cover;
  background-position: 10% 25%;
  /* background-repeat: no-repeat; */
}

.flip-card {
  box-shadow: 0 0 20px -5px silver, 0 0 8px -2px gray, 0 0 3px black;
}

.member_Name {
  font-family: "Montserrat", sans-serif;
}

.member_Title {
  font-family: "Montserrat", sans-serif;
  text-indent: 0px;
}

.member_Image {
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  box-shadow: 0 0 20px -5px silver, 0 0 8px -2px gray, 0 0 3px black;
  /* object-fit: cover; */
}

.member_Image_1 {
  background-size: 120%;
  background-image: url("../img/member/Ahmet\ Oğuz\ Ergin.jpg");
  background-position: center 39%;
}

.member_Image_2 {
  background-size: 110%;
  background-image: url("../img/member/Aleyna\ Hafsa\ Ersin.png");
  background-position: 50% 39%;
}

.member_Image_2 {
  background-size: 110%;
  background-image: url("../img/member/Aleyna\ Hafsa\ Ersin.png");
  background-position: 50% 39%;
}
/* 
.card {
  height: 350px;
} */

/* Responsive styles */
@media only screen and (max-width: 400px) {
  .member_Image {
    height: 200px;
  }
}

@media only screen and (max-width: 370px) {
  .member_Image {
    height: 200px;
  }
}
